In [ ]:
print("welcome to Python world")

In [ ]:
import pandas as pd
import pandas as np

In [ ]:
a = 3
b = 3
sum = a+b
print(sum)

6

In [ ]:

number = 5

for i in range(1, 11):
  result = number * i
  print(f"{number} x {i} = {result}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Day# 13 - Function calling another Fn.

def test(1):
  print("I am insude test1")
  test2()

def test2():
  print("I am insude test2")
  print("goingback")

test(1)

def test(2):
  print(2)

SyntaxError: invalid syntax (<ipython-input-1-13bfd5a5a6b2>, line 3)

In [ ]:
def test():
  x=10
  x=x+1
  print(x)

  test()
  print(x)

In [ ]:
#global variable

n=10

def fun():
  print(n)

fun()
print(n)

10
10

In [ ]:
#global variable

n=10

def fun():
  global n #global variable
  n=n+1
  print(n)

def test():
  global n #global variable
  n=n+1
  print(n)

fun()
test()
print(n)

11
12
12

In [ ]:
# function is also an object

def test():
  print("Hello world")

i=10
print(type(i))

print(type(test))

<class 'int'>
<class 'function'>

In [ ]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

8 multiplied by 5 is: 40
4 multiplied by 10 is: 40

In [ ]:
#alias name for a function

def test():
  print("Hello world")

a = test
a()

Hello world

In [ ]:
#Positional args or required ars

def test(name, age, city):
  print("My Name is ", name)
  print("My Age is ", age)
  print("My City is ", city)

test("Mouli", 25, "Bangalore")

My Name is  Mouli
My Age is  25
My City is  Bangalore

In [ ]:
# DEFAULT ARGUMENTS

def student(name, age, m1,m2,m3, college="UVCE"):
  print(name,age,m1,m2,m3,college)

student("John",25,90,80,70)
student("Mouli",25,90,80,70,"MIT")

John 25 90 80 70 UVCE
Mouli 25 90 80 70 MIT

In [ ]:
#positional arguments ---> keyword agrs---> Default args

def student(name, age, m1,m2,m3, college="UVCE"):
  print(name,age,m1,m2,m3,college)

student("John",age=25,m1=90,m2=80,m3=70)
student("Mouli",25,90,80,70,"MIT")

John 25 90 80 70 UVCE
Mouli 25 90 80 70 MIT

In [ ]:
# variabele length args
def fun(*a):
  print(a)
  print(type(a))

fun(1,2)
fun(1,2,3)
fun(1,2,3,4)

(1, 2)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
def sum(*a):
  s = 0
  for i in a:
    s = s + i
  print(s)

sum(1,2)
sum(1,2,3)
sum(1,2,3,4)

3
6
10

In [ ]:
# Variable length keyword args

def addition(**a):
  s = 0
  for n in a.values():
    s = s+n
  print(s)

addition(a=10,b=20)
addition(a=10,b=20,c=30)

30
60

In [ ]:
# Day 4 - For loop

for i in "BLR":
  print("Outer loop")
  for j in [10,20,30]:
    print("Inner loop")
    print(i,j)

In [ ]:
v = ['a','e','i','o','u']

st= "bangalore"
counter = 0

for i in "bangalore":
  if i in v:
    counter = counter + 1

print(counter)

In [ ]:
# reverse a string using slicing

str=input("enter a string ")
print(str[::])

In [ ]:
str="NTT"
print(str[:1:-1])

In [ ]:
str = input ("enter a string ")
rev= str[::-1]

if str==rev:
  print("palindrome")
else:
  print("not palindrome")

In [ ]:
for i in "bangalore":
    print(i)
    if i== 'g':
      break


print ("end of loop")

In [ ]:
str=input("Entera number ")
if str.startswith("91"):
  print("India")
else:
  print("Foreign number")

In [ ]:
#lstrip
name=input("enter your name ")
print(name)
print(name.lstrip())

In [ ]:
url =["https://www.myntra.com","https://www.ajio.com","https://www.zee.com"]
for i in url:
 # print(i.lstrip("https://www."))
  i=i.lstrip("hyp:/w.")
  print (i)

In [ ]:
# Day 5

url =["https://www.myntra.com","https://www.ajio.com","https://www.zee.com"]
for i in url:
 # print(i.lstrip("https://www."))
  i=i.lstrip("shyp:/w.")
  print(i)

In [ ]:
url =["https://www.myntra.com"]
for i in url:
 i=i.strip("htpcom")
print(i)

In [ ]:
#split
s="I_live_in_Bangalore"
s.split('_')

['I', 'live', 'in', 'Bangalore']

In [ ]:
# list
l=[10,20,30]
print(l)
print(type(l))

[10, 20, 30]
<class 'list'>

In [ ]:
# list Indexing

l1=[10,20,3,3,15,"NTT",[1,2,3]]
print(l1[1])
print(l1[-1])
print(l1[-2])

print(l1[6][2])

20
[1, 2, 3]
NTT
3

In [ ]:
#list slicing

l1=[10,20,3,3,15,"NTT",[1,2,3]]

print(l1[::-1])

[[1, 2, 3], 'NTT', 15, 3, 3, 20, 10]

In [ ]:
# concatenation of list
l1=[10,20,30]
l2=[40,50,60]
l3=l1+l2
print(l3)

[10, 20, 30, 40, 50, 60]

In [ ]:
#list itertation

l1=[10,20,30,40]
for i in l1:
  print(i+1)

11
21
31
41

In [ ]:
#list membership

l1=[10,20,30,40]
print('10' in l1)
print(50 in l1)

False
False

In [ ]:
# list deletion

l1=[10,20,30,40]
print(l1)
del l1[1]
print(l1)

[10, 20, 30, 40]
[10, 30, 40]

In [ ]:
# max element

l1=[10,20,30,]
print(max(l1))

l2=['apple','Ball','Cat']
print(max(l2))

30
apple

In [ ]:
l2=['apple','Ball','Mooulisfd']
print(max(l2, key=len))

Mooulisfd

In [ ]:
#Slicing
s="Python is Fun!"
print(s[-1:-7:-2])

In [ ]:
# Day 3 - If condition

if 1>5:
    print("10 is greater than 5")
    print("i am inside if condition")
    print("i am still inside if condiction")
print("i am outside if condition")

In [ ]:
#Input statement

name=input("Enter your name")
print("Your name is",name)

In [ ]:
No1 = int(input("Enter the first number"))
No2 = int(input("Enter the second number"))
print(No1+No2)

In [ ]:
No1 = int(input("Enter the first number"))
No2 = int(input("Enter the second number"))
print(No1+No2)
if No1>No2:
    print("No1 is greater than No2")
else:
    print("No2 is greater than No1")

In [ ]:
No1 = float(input("Enter the first number"))
No2 = float(input("Enter the second number"))
print(No1+No2)

In [ ]:
age=int(input("Enter your age "))
if age>=18:
  print("Welcome to Vote")
  print("You are eligible to vote")
else:
    print("You are not eligible to vote")

In [ ]:
Marks=int(input("Enter your marks "))
if Marks>=35:
  print("You are pass")
else:
  print("You are fail")

In [ ]:
a=int(input("enter a no"))
if a%2==0:
  print("even")
else:
  print("odd")

In [ ]:
#if elif else
grade = int(input("Enter your grade"))
if grade>=90:
  print("Grade A")
elif grade>=80:
  print("Grade B")
elif grade>=70:
  print("Grade C")
elif grade>=60:
  print("Grade D")
else:
  print("fail")

In [ ]:
#while loop
i=2
while i<=10:
  print(i)
  i=i+1

In [ ]:
num=int(input("Enter the no "))
i=1
while i<=10:
  print(num*i)
  i=i+1

In [ ]:
num=int(input("Enter the no "))
i=1
while i<=100:
  print(i)
  i+=3

In [ ]:
# for loop

for i in [10,20,30]:
  print(i)

In [ ]:
#dynamic

a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

a="NTT"
print(a)
print(id(a))

In [ ]:
#deleting a variable

a=20
print(a)
del a
print(a)

In [ ]:
#creating multiple variables

a,b,c=10, 3.14, "NTT"
print(a,b,c)

In [ ]:
#assign single values to multiple variables

a=b=c=100
print(a,b,c)

In [ ]:
# variable annotation

a:int=10
print(a)
print(__annotations__['a'])

b:float=31.3
print(b)
print(__annotations__['b'])

c:str="NTT"
print(c)
print(__annotations__['c'])

a="Blr"
print(a)

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

In [ ]:
#multiline comments

""" abc
abc"""
print("multiline")

In [ ]:
print("Mouli Gopi")

In [ ]:
#String
s="code yug"

print(s[0:3:1])
print(s[2:4])
print(s[0:5:2])
print(s[-1:-5:-2])
print(s[-2:-6:2])
print(s[-1::-1])
print(s[-3:-11])
print(s[-1:-1:-1])

In [ ]:
s="Bangalore"
print(s[0:8:3])
print(s[0::2])
print(s[:5:1])
print(s[0:5:])
print(s[::])
print(s[0:0:2])
print(s[0:3:0])

In [ ]:
#negative slicing

s="Bangalore"
print(s[-1:-4:-1])
print(s[-1:-8:-2])

In [ ]:
B2+3

In [ ]:
5*6