In [ ]:
print("welcome to Python world")

In [ ]:
# Day 4 - For loop

for i in "BLR":
  print("Outer loop")
  for j in [10,20,30]:
    print("Inner loop")
    print(i,j)

In [ ]:
v = ['a','e','i','o','u']

st= "bangalore"
counter = 0

for i in "bangalore":
  if i in v:
    counter = counter + 1

print(counter)

In [ ]:
# reverse a string using slicing

str=input("enter a string ")
print(str[::])

In [ ]:
str="NTT"
print(str[:1:-1])

In [ ]:
str = input ("enter a string ")
rev= str[::-1]

if str==rev:
  print("palindrome")
else:
  print("not palindrome")

In [ ]:
for i in "bangalore":
    print(i)
    if i== 'g':
      break


print ("end of loop")

In [ ]:
str=input("Entera number ")
if str.startswith("91"):
  print("India")
else:
  print("Foreign number")

In [ ]:
#lstrip
name=input("enter your name ")
print(name)
print(name.lstrip())

In [ ]:
url =["https://www.myntra.com","https://www.ajio.com","https://www.zee.com"]
for i in url:
 # print(i.lstrip("https://www."))
  i=i.lstrip("hyp:/w.")
  print (i)

In [ ]:
# Day 5

url =["https://www.myntra.com","https://www.ajio.com","https://www.zee.com"]
for i in url:
 # print(i.lstrip("https://www."))
  i=i.lstrip("shyp:/w.")
  print(i)

In [ ]:
url =["https://www.myntra.com"]
for i in url:
 i=i.strip("htpcom")
print(i)

In [8]:
#split
s="I_live_in_Bangalore"
s.split('_')

['I', 'live', 'in', 'Bangalore']

In [9]:
# list
l=[10,20,30]
print(l)
print(type(l))

[10, 20, 30]
<class 'list'>

In [17]:
# list Indexing

l1=[10,20,3,3,15,"NTT",[1,2,3]]
print(l1[1])
print(l1[-1])
print(l1[-2])

print(l1[6][2])

20
[1, 2, 3]
NTT
3

In [16]:
#list slicing

l1=[10,20,3,3,15,"NTT",[1,2,3]]

print(l1[::-1])

[[1, 2, 3], 'NTT', 15, 3, 3, 20, 10]

In [19]:
# concatenation of list
l1=[10,20,30]
l2=[40,50,60]
l3=l1+l2
print(l3)

[10, 20, 30, 40, 50, 60]

In [21]:
#list itertation

l1=[10,20,30,40]
for i in l1:
  print(i+1)

11
21
31
41

In [23]:
#list membership

l1=[10,20,30,40]
print('10' in l1)
print(50 in l1)

False
False

In [28]:
# list deletion

l1=[10,20,30,40]
print(l1)
del l1[1]
print(l1)

[10, 20, 30, 40]
[10, 30, 40]

In [34]:
# max element

l1=[10,20,30,]
print(max(l1))

l2=['apple','Ball','Cat']
print(max(l2))

30
apple

In [36]:
l2=['apple','Ball','Mooulisfd']
print(max(l2, key=len))

Mooulisfd

In [ ]:
#Slicing
s="Python is Fun!"
print(s[-1:-7:-2])

In [ ]:
# Day 3 - If condition

if 1>5:
    print("10 is greater than 5")
    print("i am inside if condition")
    print("i am still inside if condiction")
print("i am outside if condition")

In [ ]:
#Input statement

name=input("Enter your name")
print("Your name is",name)

In [ ]:
No1 = int(input("Enter the first number"))
No2 = int(input("Enter the second number"))
print(No1+No2)

In [ ]:
No1 = int(input("Enter the first number"))
No2 = int(input("Enter the second number"))
print(No1+No2)
if No1>No2:
    print("No1 is greater than No2")
else:
    print("No2 is greater than No1")

In [ ]:
No1 = float(input("Enter the first number"))
No2 = float(input("Enter the second number"))
print(No1+No2)

In [ ]:
age=int(input("Enter your age "))
if age>=18:
  print("Welcome to Vote")
  print("You are eligible to vote")
else:
    print("You are not eligible to vote")

In [ ]:
Marks=int(input("Enter your marks "))
if Marks>=35:
  print("You are pass")
else:
  print("You are fail")

In [ ]:
a=int(input("enter a no"))
if a%2==0:
  print("even")
else:
  print("odd")

In [ ]:
#if elif else
grade = int(input("Enter your grade"))
if grade>=90:
  print("Grade A")
elif grade>=80:
  print("Grade B")
elif grade>=70:
  print("Grade C")
elif grade>=60:
  print("Grade D")
else:
  print("fail")

In [ ]:
#while loop
i=2
while i<=10:
  print(i)
  i=i+1

In [ ]:
num=int(input("Enter the no "))
i=1
while i<=10:
  print(num*i)
  i=i+1

In [ ]:
num=int(input("Enter the no "))
i=1
while i<=100:
  print(i)
  i+=3

In [ ]:
# for loop

for i in [10,20,30]:
  print(i)

In [ ]:
#dynamic

a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

a="NTT"
print(a)
print(id(a))

In [ ]:
#deleting a variable

a=20
print(a)
del a
print(a)

In [ ]:
#creating multiple variables

a,b,c=10, 3.14, "NTT"
print(a,b,c)

In [ ]:
#assign single values to multiple variables

a=b=c=100
print(a,b,c)

In [ ]:
# variable annotation

a:int=10
print(a)
print(__annotations__['a'])

b:float=31.3
print(b)
print(__annotations__['b'])

c:str="NTT"
print(c)
print(__annotations__['c'])

a="Blr"
print(a)

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

In [ ]:
#multiline comments

""" abc
abc"""
print("multiline")

In [ ]:
print("Mouli Gopi")

In [ ]:
#String
s="code yug"

print(s[0:3:1])
print(s[2:4])
print(s[0:5:2])
print(s[-1:-5:-2])
print(s[-2:-6:2])
print(s[-1::-1])
print(s[-3:-11])
print(s[-1:-1:-1])

In [ ]:
s="Bangalore"
print(s[0:8:3])
print(s[0::2])
print(s[:5:1])
print(s[0:5:])
print(s[::])
print(s[0:0:2])
print(s[0:3:0])

In [ ]:
#negative slicing

s="Bangalore"
print(s[-1:-4:-1])
print(s[-1:-8:-2])

In [ ]:
B2+3

In [ ]:
5*6