In [ ]:
print("welcome to Python world")

welcome to Python world

In [3]:
#dynamic

a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

a="NTT"
print(a)
print(id(a))

10
10751144
3.14
136330939029232
NTT
136330523621872

In [ ]:
#deleting a variable

a=20
print(a)
del a
print(a)

In [8]:
#creating multiple variables

a,b,c=10, 3.14, "NTT"
print(a,b,c)

10 3.14 NTT

In [9]:
#assign single values to multiple variables

a=b=c=100
print(a,b,c)

100 100 100

In [12]:
# variable annotation

a:int=10
print(a)
print(__annotations__['a'])

b:float=31.3
print(b)
print(__annotations__['b'])

c:str="NTT"
print(c)
print(__annotations__['c'])

a="Blr"
print(a)

10
<class 'int'>
31.3
<class 'float'>
NTT
<class 'str'>
Blr

In [14]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [16]:
#multiline comments

""" abc
abc"""
print("multiline")

multiline

In [ ]:
print("Mouli Gopi")

Mouli Gopi

In [43]:
#String
s="code yug"

print(s[0:3:1])
print(s[2:4])
print(s[0:5:2])
print(s[-1:-5:-2])
print(s[-2:-6:2])
print(s[-1::-1])
print(s[-3:-11])
print(s[-1:-1:-1])

cod
de
cd
gy

guy edoc

In [33]:
s="Bangalore"
print(s[0:8:3])
print(s[0::2])
print(s[:5:1])
print(s[0:5:])
print(s[::])
print(s[0:0:2])
print(s[0:3:0])

Bgo
Bnaoe
Banga
Banga
Bangalore

ValueError: slice step cannot be zero

In [36]:
#negative slicing

s="Bangalore"
print(s[-1:-4:-1])
print(s[-1:-8:-2])

ero
eoan

In [ ]:
B2+3

5

In [ ]:
5*6

30